* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text_uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
